.all_Product .sidebar_Aproduct .title-sidebar,
.title_Product p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 1px;
}

.sidebar_Aproduct .title-sidebar p,
.title_Product {
    border-bottom: 1px solid rgba(204, 204, 204, 0.411);
}

.title_Product {
    height: 57px;
    margin-left: 10px;
    margin-top: 17px;
    padding-bottom: 10px;
    font-size: 22px !important;
    display: flex;
    justify-content: space-between;
}

.sidebar_Aproduct .title-sidebar ul li {
    position: relative;
    font-size: 16px !important;
    line-height: 35px;
}

.sidebar_Aproduct .title-sidebar ul li:first-child {
    margin-top: 5px;
}

.sidebar_Aproduct .title-sidebar ul li a {
    color: #000;
}

.sidebar_Aproduct .title-sidebar ul li i {
    font-size: 12px;
}

.sidebar_Aproduct .title-sidebar ul li .fa-caret-right {
    margin-right: 2px;
}

.sidebar_Aproduct .title-sidebar ul li .fa-angle-down {
    position: absolute;
    right: 0;
    top: 10px;
}

.sort-by ul .in-sort-by {
    height: 200px;
    margin-top: 15px;
    position: relative;
}

.sort-by ul li span {
    cursor: pointer;
}

.sort-by {
    z-index: 10;
    float: right;
    font-size: 14px;
    text-align: left;
}

.sort-by ul li span i {
    margin-left: 10px;
}

.in-sort-by ul {
    position: absolute;
    display: none;
    width: 170px;
    left: -35px;
    top: 25px;
    z-index: 10000;
    background: #fff;
    border-top: none;
    border: 1px #F0F0F0 solid;
    border-radius: 4px;
    overflow: hidden;
}

.in-sort-by ul li {
    padding: 8px 15px 8px 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.604);
}

.in-sort-by ul li a {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: rgb(112, 112, 112);
}

.in-sort-by ul li:hover a {
    color: #007fb8;
}

.in-sort-by:hover ul {
    display: block;
}