html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /* font: inherit; */
    /* vertical-align: baseline; */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

ul {
    list-style: none outside;
}

ol,
ul {
    padding-left: 0 !important;
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none !important;
    color: #000;
    transition: all 300ms ease-in-out;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 2.25em;
    margin: 0.67em 0 0.5em;
    line-height: 1.25;
    letter-spacing: -.02em;
}

h2 {
    font-size: 1.75em;
    margin: 0.83em 0 0.5em;
    line-height: 1.35;
}

em,
i {
    font-style: italic;
}

section {
    margin-bottom: 50px;
}

body,
input,
textarea,
select,
.chosen-container-single .chosen-single,
.btn,
.button {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.logo {
    margin-top: 6px;
}

.logo img {
    max-height: 65px;
}

.in-col-md-9 {
    display: flex;
    color: #363636;
    padding: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    padding: 15px 0 18px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.pd-0 {
    padding-right: 0;
}


/* THÔNG TIN */

.header-block-item .info strong,
.header-block-item a {
    color: #555555;
}

.header-block-item .info p,
.header-block-item .cart-label .cart-info {
    margin: 0;
    font-size: 12px;
    color: #737373;
    line-height: 10px;
    letter-spacing: 0.3px;
}

.header-block-item {
    margin: 0 0 0 25px;
}

.header-block-item .info a {
    color: #737373;
}

.icon i {
    font-size: 25px;
    margin: 7px 10px 0;
}

.header-block-item,
.header-block-item a {
    display: flex;
}

.header-block-item .fix-width-text p {
    display: flex;
    width: 112px;
}

.mini-cart .cart-label i {
    font-size: 12px;
    width: 35px;
    height: 35px;
    padding: 0 0 0px 10px;
    border-radius: 50%;
    line-height: 40px;
    background: #000;
    color: #fff;
    top: 2px;
    transform: translateY(-8px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(-8px);
}

.cart-info {
    padding: 5px 0 0 10px;
}


/* TAB_PRODUCT */

.title-section h2 {
    font-size: 34px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.title-section {
    text-align: center;
}

.title_tabs {
    border: none;
    margin-bottom: 20px;
}

.title_tabs ul {
    display: flex;
    justify-content: center;
}

.title_tabs ul li {
    height: 40px;
    line-height: 35px;
    border: 2px solid #ebebeb;
    padding: 0 20px;
    border-radius: 20px;
    margin: 0 5px;
    margin-bottom: 10px;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.title_tabs ul li:hover {
    border-color: #898989;
    background: #ebebeb;
}

.product-box .product-info {
    padding: 0 15px 20px;
    text-align: center !important;
}

.product-box .product-thumbnail a img {
    width: 100%;
}

.product-box {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.clear {
    clear: both;
}

.product-box .product-thumbnail {
    margin: 0px 0 10px;
    overflow: hidden;
}

.product-box .product-name {
    font-size: 1em;
    line-height: 18px;
    color: #000;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    margin: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.product-box .product-name a {
    color: #363636;
    text-decoration: none;
}

.product-box .price-box .special-price span {
    color: #000;
    font-size: 1.21429em;
    line-height: 23px;
    display: block;
    font-weight: 400;
}

.product-box .product-thumbnail>a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 235px;
    text-align: center;
}


/* BANNER SECOND */

.banner_second .sale-off .title-section h2 a,
.banner_second .sale-off .title-section a {
    color: #fff;
}

.banner_second .sale-off .view_more {
    margin-top: 40px;
    transition: all 150ms ease-in-out;
}

.banner_second .sale-off .view_more:hover a {
    color: #000;
}


/* SLIDE THIRD */

.bg_gray {
    background: #f9f7f7;
}

.brand-item {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.owl-carosel .owl-stage-3 .owl-item .brand-item a img {
    width: 100%;
}

.owl-carosel .owl-stage-3 .owl-item {
    margin-right: 30px;
}

.owl-carosel .owl-stage-3 {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transition: all 0.25s ease 0s;
}

.slide_third .owl-carosel {
    background-color: #fff;
    padding: 5px;
}

.in-slide_third {
    padding: 12px 0;
}

.product_3-col .content {
    background: #fff;
    padding: 10px;
    margin-bottom: 12px;
}

.product_3-col .content h2 {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.product_3-col .content h2 a {
    color: #363636;
}

.product_3-col .content h2 .lt-space {
    letter-spacing: -2px;
}

.xem_them {
    color: #898989 !important;
    text-decoration: underline !important;
    font-size: 14px;
    line-height: 34px;
    text-transform: none;
    float: right !important;
}